<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<nav id="sidebar">

		<div class="sidebar-header" >
			<div class="brand">
			<h:graphicImage library="images" name="logo.png" style="margin-right: 200px;" width="200px" height="90px" />
				
			</div>
		</div>

		<ul class="list-unstyled components">
			<li>
				<a href="index.xhtml"><i class="fa fa-home fa-fw"></i>Home</a>
			</li>
			<li>
				<a class="collapsed" aria-expanded="false" href="#cadastrosSubmenu" data-toggle="collapse"><i class="fa fa-plus fa-fw"></i>Cadastros</a>
				<ul class="list-unstyled collapse" id="cadastrosSubmenu" aria-expanded="false" style="height: 0px;">
					<li><a href="pessoas.xhtml">Pessoas</a></li>
					<li><a href="livros.xhtml">Livros</a></li>
					<li><a href="autores.xhtml">Autores</a></li>
				</ul>
			</li>
			<li>
				<a class="collapsed" aria-expanded="false" href="#cadastrosFuncionaisSubmenu" data-toggle="collapse"><i class="fa fa-refresh"></i>Processos</a>
				<ul class="list-unstyled collapse" id="cadastrosFuncionaisSubmenu" aria-expanded="false" style="height: 0px;">
					<li><a href="emprestimos.xhtml">Empréstimos</a></li>
				</ul>
			</li>

			<li>
			<a class="collapsed" aria-expanded="false" href="#analisesSubmenu" data-toggle="collapse"><i class="fa fa-align-left"></i>Sistema</a>				
				<ul class="list-unstyled collapse" id="analisesSubmenu" aria-expanded="false" style="height: 0px;">
					<li><a href="usuarios.xhtml">Usuário</a></li>
				
				</ul>
			</li>
		</ul>

		<ul class="list-unstyled CTAs">
			<li>
				<a href="#" onclick="document.getElementById('logout').submit();" class="download">Logout</a>
				<form action="logout" id="logout" method="post">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			</li>
		</ul>
	</nav>


	<div class="modal fade" id="modalNovaSenha" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Resetar Senha</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&#215;</span>
					</button>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md">
							<h:form id="formNovaSenha">
								<div class="modal-body bg-light">
									<div class="col-md">
										<div class="row">
											<div class="col-md">
												<h:messages errorStyle="color:#a94442" infoStyle="color:#428bca" />
												<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> 
												<label for="login">Digite a nova senha</label>
												<h:inputSecret styleClass="form-control" required="true" value="#{securityController.senha}" />
												<label for="login">Confirme a nova senha</label>
												<h:inputSecret styleClass="form-control" required="true" value="#{securityController.confirmaSenha}" />
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">

									<h:commandLink style="margin-right:5px" styleClass="btn btn-success">
										<i class="fa fa-save fa-fw" aria-hidden="true" />
										<f:ajax event="click" execute="@form" render="@form" listener="#{securityController.salvarNovaSenha}" pt:data-dismiss="modal" /> Salvar
                                    </h:commandLink>

									<h:commandLink style="margin-right:5px" styleClass="btn btn-danger" pt:data-dismiss="modal">
										<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
										<f:ajax />
									</h:commandLink>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</ui:composition>