<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/templates/default/main.xhtml">
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin-top: 20px">
				<ui:param name="listagem" value="listagem" />
					<div class="card-header ">
						<h4 class="card-title">Empréstimos</h4>
					</div>
					<h:form id="form-emprestimos">
						<div class="card-body bg-light">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable binding="#{table}"
											value="#{emprestimoBean.emprestimosList}" var="e"
											styleClass="table dataTable-emprestimo table-striped table-sm">
											
											<h:column>
												<f:facet name="header">#</f:facet>
                                       		 	#{table.rowIndex + 1}
                                    		</h:column>

											<h:column>
												<f:facet name="header">Nome</f:facet>
                                       			 #{e.pessoa.nome}
                                    		</h:column>
                                    		
                                    		<h:column>
												<f:facet name="header">Data Empréstimo</f:facet>
                                       			 #{e.dataEmprestimoFormatado}
                                    		</h:column>                                 		
                                    		
                                    		<h:column pt:style="text-align:center;padding-right:5px;padding-left:5px">
                                    		
												<f:facet name="header">Status</f:facet>
                                       			<h:panelGroup rendered="#{e.status == true}"
													styleClass="text-center">
													<i class="fa fa-circle text-success" aria-hidden="true" />
												</h:panelGroup>
												
												<h:panelGroup rendered="#{e.status == false}"
													styleClass="text-center">
													<i class="fa fa-circle text-warning" aria-hidden="true" />
												</h:panelGroup>
                                    		</h:column>
                                    		
                                    		<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">Visualizar</f:facet>
												<h:commandLink action="#{emprestimoBean.showEmprestimo(e)}"
													style="text-decoration:none;" pt:data-toggle="modal"
													pt:data-target=".modal-cadastro" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<i class="fa fa-eye" aria-hidden="true" />
													<f:ajax render="form-cadastro-emprestimo" />
												</h:commandLink>
											</h:column>
											
											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">Finalizar</f:facet>
												<h:commandLink action="#{emprestimoBean.showEmprestimo(e)}"
													style="text-decoration:none;" pt:data-toggle="modal"
													pt:data-target=".modal-finaliza-emprestimo" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<i class="fa fa-check-square-o" aria-hidden="true" />
													<f:ajax render="form-finaliza-emprestimo" />
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-12">
									<div class="legendas">
										<label class="col-form-label">Legenda:</label><br /> <span><i
											class="fa fa-circle fa-fw text-success" aria-hidden="true" />Empréstimo Ativo</span> <span><i class="fa fa-circle fa-fw text-warning ml-3"
											aria-hidden="true" />Empréstimo Finalizado</span>  
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group" role="group">
								<h:commandLink styleClass="btn btn-success"
									pt:data-toggle="modal" pt:data-target=".modal-cadastro"
									pt:data-backdrop="static" pt:data-keyboard="false">
									<i class="fa fa-clone fa-fw" aria-hidden="true" /> Adicionar
                                        <f:ajax
										render="form-cadastro-emprestimo"
										listener="#{emprestimoBean.prepareControleEmprestimo}" />
								</h:commandLink>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
		<!-- 		Modal Cadastrar emprestimos-->
		<div class="modal modal-cadastro modal-draggable fade" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-dialog-scrollable modal-xl"
				role="document">
				<div class="modal-content">
					<h:form id="form-cadastro-emprestimo">
						<h:messages />
						<div class="modal-header">
							<h:outputLabel rendered="#{emprestimoBean.emprestimo.id eq null}"
								styleClass="modal-title" value="CRIAR NOVO EMPRÉSTIMO" />
							<h:outputLabel rendered="#{emprestimoBean.emprestimo.id ne null}"
								styleClass="modal-title" value="VISUALIZAR EMPRÉSTIMO" />

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&#215;</span>
							</button>
						</div>
						<div class="modal-body bg-light">

							<fieldset class="scheduler-border">
								<legend class="scheduler-border">Dados do Usuário</legend>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="titulo">CPF</label>
										<h:inputText id="inptCpf" disabled="true" required="true"
											requiredMessage="Campo CPF é Obrigatório"
											value="#{emprestimoBean.emprestimo.pessoa.cpf}"
											styleClass="form-control">
										</h:inputText>
									</div>

									<div class="col-md-7">
										<label for="titulo">Nome</label>
										<h:inputText id="inptNome" disabled="true"
											value="#{emprestimoBean.emprestimo.pessoa.nome}"
											styleClass="form-control">
										</h:inputText>
									</div>

									<div class="col-md-2">
										<h:commandLink styleClass="btn btn-primary" rendered="#{emprestimoBean.emprestimo.id eq null}"
											style="margin-top:32px" pt:data-toggle="modal"
											pt:data-target=".modal-busca-pessoa"
											pt:data-backdrop="static" pt:data-keyboard="false">
											<i class="fa fa-search" aria-hidden="true" /> Pesquisar
                                        <f:ajax
												render="form-cadastro-pessoa" />
										</h:commandLink>
									</div>


								</div>
							</fieldset>

							<div class="form-group row">
								<div class="form-group col-md-4">
									<h:outputLabel
										styleClass="modal-title" value="Data do Empréstimo" />
									<h:inputText styleClass="form-control" disabled="true"
										value="#{emprestimoBean.emprestimo.dataEmprestimoFormatado}">
									</h:inputText>
								</div>
								<div class="form-group col-md-4">
									<h:outputLabel
										styleClass="modal-title" value="Data da Devolução" />
									<h:inputText styleClass="form-control" disabled="true"
										value="#{emprestimoBean.emprestimo.dataDevolucaoFormatado}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group row">
								<div class="form-group col-md-6">
									<h:outputLabel
										rendered="#{emprestimoBean.emprestimo.id ne null}"
										styleClass="modal-title" value="Email" />
									<h:inputText styleClass="form-control" disabled="true"
										rendered="#{emprestimoBean.emprestimo.id ne null}"
										value="#{emprestimoBean.emprestimo.pessoa.email}">
									</h:inputText>
								</div>
								<div class="form-group col-md-6">
									<h:outputLabel
										rendered="#{emprestimoBean.emprestimo.id ne null}"
										styleClass="modal-title" value="Contato" />
									<h:inputText styleClass="form-control" disabled="true"
										rendered="#{emprestimoBean.emprestimo.id ne null}"
										value="#{emprestimoBean.emprestimo.pessoa.contato1}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-3">
									<h:commandLink styleClass="btn btn-primary"
										rendered="#{emprestimoBean.emprestimo.id eq null}"
										pt:data-toggle="modal"
										pt:data-target=".modal-busca-livro" pt:data-backdrop="static"
										pt:data-keyboard="false">
										<i class="fa fa-search" aria-hidden="true" /> Incluir Livros
                                        <f:ajax
											render="form-cadastro-livro" />
									</h:commandLink>
								</div>
							</div>
							<fieldset class="scheduler-border">
								<legend class="scheduler-border">Livros Selecionados</legend>
								<div class="form-row mt-3">
									<ui:repeat id="tblLivrosSelected" var="c"
										value="#{emprestimoBean.emprestimo.controleEmprestimoList}"
										varStatus="status">
										<div class="col-md-6">
											<div class="card" style="width: 30rem; height: 120px;">
												<div class="card-body">
													<div class="form-group row">
														<div class="col-md-12">
															<h:outputLabel styleClass="modal-title"	value="Titulo : #{c.livro.titulo}" />
														</div>
														<div class="col-md-12">
															<h:outputLabel styleClass="modal-title"	value="	#{c.situacao}" />
														</div>
														<div class="col-md-7">
															<h:outputLabel rendered="#{c.dataEntrega != null}" styleClass="modal-title"	value="Entrega : #{c.dataEntregaFormatado}" />
														</div>
														<div class="col-md-6">
															<h:commandLink
																styleClass="btn btn-success btn-sm"
																rendered="#{emprestimoBean.emprestimo.id eq null}">
																<i class="fa fa-times" aria-hidden="true" />

																<f:ajax event="click" execute="@form"
																	render="@form :form-emprestimos"
																	listener="#{emprestimoBean.removeControleEmprestimo(c)}" /> 
                           									 </h:commandLink>
														</div>
													</div>
													
													
												</div>

											</div>
										</div>
									</ui:repeat>
								</div>
							</fieldset>

							<div class="form-row mt-3">
								<div class="col-md-12">
									<label for="titulo">Observação</label>
									<h:inputTextarea disabled="#{emprestimoBean.emprestimo.id ne null}"
										value="#{emprestimoBean.emprestimo.observacao}"
										styleClass="form-control"></h:inputTextarea>
								</div>
							</div>

						</div>

						<div class="modal-footer">						

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-success" rendered="#{emprestimoBean.emprestimo.id eq null}">
								<i class="fa fa-save fa-fw" aria-hidden="true" />

								<f:ajax event="click" execute="@form"
									render="@form :form-emprestimos" 
									listener="#{emprestimoBean.saveEmprestimo}"/> Salvar

                            </h:commandLink>

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>

						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- Fecha Modal adicionar Emprestimo-->
		
		<!-- 	inicio modal busca de pessoas -->

		<div class="modal modal-busca-pessoa fade" id="staticBackdrop"
			data-backdrop="static" data-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Pesquisa de Usuários</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<h:form id="form-cadastro-pessoa">
						<h:messages />
						<div class="modal-body bg-light">
							<div class="form-row">
								<label for="nome" class="col-sm-2 col-form-label">CPF</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control cpf"
										value="#{emprestimoBean.filtroCpf}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row">
								<div class="col-sm-1">
									<h:outputLabel value="ou" />
								</div>
							</div>
							<div class="form-row">
								<label for="nome" class="col-sm-3 col-form-label">Parte
									do Nome</label>
								<div class="col-sm-9">
									<h:inputText styleClass="form-control"
										value="#{emprestimoBean.filtroNome}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row mt-3">
								<h:commandLink styleClass="btn btn-primary">
									<i class="fa fa-search" aria-hidden="true" />
									<f:ajax event="click" execute="@form"
										render="@form :form-livros"
										listener="#{emprestimoBean.buscaPessoa}" /> Localizar
                            	</h:commandLink>
							</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<h:dataTable styleClass="table table-striped table-sm"
										value="#{emprestimoBean.pessoasList}" var="p">
										<h:column>
											<f:facet name="header">Nome</f:facet>
											<h:outputText value="#{p.nome}" />
										</h:column>
										<h:column>
											<f:facet name="header">Cpf</f:facet>
											<h:outputText value="#{p.cpf}" />
										</h:column>
										<h:column pt:style="text-align:center;padding:5px 0;">
											<f:facet name="header">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</f:facet>
											<h:commandLink action="#{emprestimoBean.addPessoa(p)}"
												style="text-decoration:none;" pt:data-dismiss="modal">
												<i class="fa fa-plus-circle" aria-hidden="true" />
												<f:ajax 
													render="form-cadastro-emprestimo:inptNome form-cadastro-emprestimo:inptCpf" />
											</h:commandLink>
										</h:column>
									</h:dataTable>
								</div>
							</div>


						</div>
					</h:form>
					<div class="modal-footer">
						<h:commandLink style="margin-right:5px"
							styleClass="btn btn-danger" pt:data-dismiss="modal">
							<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
						</h:commandLink>
					</div>
				</div>
			</div>
		</div>
		<!-- 	fim modal inclusao de pessoas -->
		
		<!-- 	inicio modal inclusao de livros -->

		<div class="modal modal-busca-livro fade" data-backdrop="static"
			data-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Pesquisa de Livros</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<h:form id="form-cadastro-livro">
						<h:messages />
						<div class="modal-body bg-light">
							<div class="form-row">
								<label for="titulo" class="col-sm-3 col-form-label">Titulo do Livro</label>
								<div class="col-sm-9">
									<h:inputText styleClass="form-control"
										value="#{emprestimoBean.filtroTitulo}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row">
								<div class="col-sm-1">
									<h:outputLabel value="ou" />
								</div>
							</div>
							<div class="form-row">
								<label for="nome" class="col-sm-3 col-form-label">Nome do Autor</label>
								<div class="col-sm-9">
									<h:inputText styleClass="form-control"
										value="#{emprestimoBean.filtroAutor}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row mt-3">
								<h:commandLink styleClass="btn btn-primary">
									<i class="fa fa-search" aria-hidden="true" />
									<f:ajax event="click" execute="@form"
										render="@form :form-livros"
										listener="#{emprestimoBean.buscaLivros}"
										onevent="dataTableLivroFromJSF" /> Localizar
                            	</h:commandLink>
							</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<h:dataTable styleClass="table table-striped table-sm"
										value="#{emprestimoBean.livrosList}" var="l">
										<h:column>
											<f:facet name="header">Titulo</f:facet>
											<h:outputText value="#{l.titulo}" />
										</h:column>

										<h:column pt:style="text-align:center;padding:5px 0;">
											<f:facet name="header">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</f:facet>
											<h:commandLink action="#{emprestimoBean.addLivro(l)}"
												style="text-decoration:none;" pt:data-dismiss="modal">
												<i class="fa fa-plus-circle" aria-hidden="true" />
												<f:ajax render="form-cadastro-emprestimo" />
											</h:commandLink>
										</h:column>
									</h:dataTable>
								</div>
							</div>

						</div>
					</h:form>
					<div class="modal-footer">
						<h:commandLink style="margin-right:5px"
							styleClass="btn btn-danger" pt:data-dismiss="modal">
							<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
						</h:commandLink>
					</div>
				</div>
			</div>
		</div>
		<!-- 	fim modal inclusao de livros -->
		
		<!-- 	inicio modal finalizar emprestimos -->
		<div class="modal modal-finaliza-emprestimo fade"
			data-backdrop="static" data-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Finalizar Empréstimo</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<h:form id="form-finaliza-emprestimo">
						<h:messages />
						<div class="modal-body bg-light">
							<div class="form-row mt-3">
								<div class="col-md-12">
									<div class="table-responsive">
										<div class="table-responsive">
											<label for="nome">Selecione os livros que estão sendo devolvidos</label>
											<h:dataTable id="tblLivrosSelecionados"
												styleClass="table dataTable-autor-selected table-striped table-sm"
												value="#{emprestimoBean.emprestimo.controleEmprestimoList}" var="c">
												<h:column>
													<f:facet name="header">Titulo</f:facet>
													<h:outputText value="#{c.livro.titulo}" />
												</h:column>
												<h:column
													pt:style="text-align:center;padding-right:5px;padding-left:5px">
													<f:facet name="header">
													&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
													<i class="fa fa-toggle-off" aria-hidden="true" />
													&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
													</f:facet>
													<h:selectBooleanCheckbox id="ativo" pt:data-size="small" disabled="#{c.dataEntrega != null}"
														pt:data-on-text="|" pt:data-off-text="O"
														styleClass="switch">
														<f:ajax event="change"
															listener="#{emprestimoBean.toogleIsItemDevolucaoList(c)}"
															render="@this" />
													</h:selectBooleanCheckbox>
												</h:column>
											</h:dataTable>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-success" pt:data-dismiss="modal">
								<i class="fa fa-save fa-fw" aria-hidden="true" />
								<f:ajax event="click" execute="@form"
									render="@form :form-finaliza-emprestimo"
									listener="#{emprestimoBean.finalizarEmprestimo}" /> Salvar
                        </h:commandLink>

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>
						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- 	fim modal finalizar emprestimos -->

	</ui:define>
</ui:composition>
