<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/templates/default/main.xhtml">
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin-top: 20px;">
					<div class="card-header ">
						<h4 class="card-title">Listagem de Livros</h4>
					</div>
					<h:form id="form-livros">
						<div class="card-body bg-light">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable binding="#{table}"
											value="#{livroBean.livrosList}" var="l"
											styleClass="table dataTable-livro table-striped table-sm">
											<h:column>
												<f:facet name="header">#</f:facet>
                                       			 #{table.rowIndex + 1}
                                    		</h:column>

											<h:column>
											<f:facet name="header">Titulo</f:facet>
                                        	#{l.titulo}
                                   			</h:column>

											<h:column>
												<f:facet name="header">ISBN</f:facet>
                                       			 #{l.isbn}
                                    		</h:column>

											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true"></i>
												</f:facet>
												<h:commandLink action="#{livroBean.prepareUpdate(l)}"
													style="text-decoration:none;" pt:data-toggle="modal"
													pt:data-target=".modal-cadastro" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<i class="fa fa-pencil fa-fw" aria-hidden="true" />
													<f:ajax render="form-cadastro-livro form-cadastro-livro:tblAutoresSelecionados" />
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-12">
									<div class="legendas">
										<label class="col-form-label">Legenda:</label><br /> <span><i
											class="fa fa-circle fa-fw text-success" aria-hidden="true" />
											Disponivel</span> <span><i class="fa fa-circle fa-fw text-warning"
											aria-hidden="true" />Emprestado</span> <span><i
											class="fa fa-circle fa-fw text-primary" aria-hidden="true" />
											Perdido</span> <span><i
											class="fa fa-circle fa-fw text-danger" aria-hidden="true" />
											Extraviado</span> 
									</div>
								</div>
							</div>
						</div>

						<div class="card-footer">
							<div class="btn-group" role="group">
								<h:commandLink styleClass="btn btn-success"
									pt:data-toggle="modal" pt:data-target=".modal-cadastro"
									pt:data-backdrop="static" pt:data-keyboard="false">
									<i class="fa fa-clone fa-fw" aria-hidden="true" /> Adicionar
                                        <f:ajax
										render="form-cadastro-livro"
										listener="#{livroBean.prepareSave}" onevent="dataTableAutorSelectedFromJSF" />
								</h:commandLink>

							</div>
						</div>


					</h:form>
				</div>
			</div>
		</div>


		<!-- 		Modal Cadastro -->
		<div class="modal modal-cadastro modal-draggable fade" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-lg"
				role="document">
				<div class="modal-content">
					<h:form id="form-cadastro-livro">
						<h:messages />
						<div class="modal-header">
							<h:outputLabel rendered="#{livroBean.livro.id eq null}"
								styleClass="modal-title" value="Cadastro de Livros" />
							<h:outputLabel rendered="#{livroBean.livro.id ne null}"
								styleClass="modal-title" value="Editar Livro" />
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&#215;</span>
							</button>
						</div>

						<div class="modal-body bg-light">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="titulo">Titulo</label> <label class="asterisco"
										for="titulo">*</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo titulo é Obrigatorio"
										value="#{livroBean.livro.titulo}">
									</h:inputText>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="firstName">ISBN</label> <label class="asterisco"
										for="firstName">*</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo ISBN é Obrigatorio"
										value="#{livroBean.livro.isbn}">
									</h:inputText>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Idioma</label> <label
										class="control-label asterisco" for="firstName">*</label>
									<h:selectOneMenu value="#{livroBean.idiomaSelected}"
										styleClass="form-control custom-select" converter="generic">
										<f:selectItem itemValue="" itemLabel="Selecione..." />
										<f:selectItems value="#{livroBean.idiomasList}" var="i"
											itemLabel="#{i.descricao}" itemValue="#{i}" />
									</h:selectOneMenu>
								</div>

								<div class="col-md-4">
									<label>Data da Publicação</label>
									<h:inputText pt:type="date" styleClass="form-control"
										value="#{livroBean.dataPublicacao}" />
								</div>
							</div>

							<div class="form-row">
								<div class="col-md-12">
									<div class="table-responsive" style="height: 150px">
										<h:dataTable id="tblAutoresSelecionados"
											styleClass="table dataTable-autor-selected table-striped table-sm"
											value="#{livroBean.livro.autoresList}" var="a">
											
											<h:column>
												<f:facet name="header">Nome</f:facet>
												<h:outputText value="#{a.nome}" />
											</h:column>
											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true"></i>
												</f:facet>
												<h:commandLink action="#{livroBean.removeAutor(a)}"
													style="text-decoration:none;">
													<i class="fa fa-times" aria-hidden="true" />
													<f:ajax render="@form" />
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
							<div class="form-row mt-2">
								<div class="col-md-12">
									<h:commandLink styleClass="btn btn-success"
										pt:data-toggle="modal" pt:data-target=".modal-list-autores"
										pt:data-backdrop="static" pt:data-keyboard="false">
										<i class="fa fa-search fa-fw" aria-hidden="true" /> Selecionar Autor(es)
                                        <f:ajax event="click"
											render="form-list-autores"/>
									</h:commandLink>
								</div>
							</div>
						</div>

						<div class="modal-footer">

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-success">
								<i class="fa fa-save fa-fw" aria-hidden="true" />

								<f:ajax event="click" execute="@form"
									render="@form :form-livros" listener="#{livroBean.save}"
									onevent="dataTableLivroFromJSF" /> Salvar

                            </h:commandLink>

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>

						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- Fecha Modal adicionar-->

		<!-- 		Modal listagem de autores -->

		<div class="modal modal-list-autores modal-draggable fade"
			tabindex="-1" role="dialog">
			<div class="modal-dialog" style="max-width: 900px; max-height: 75vh;" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">Pesquisa de Autores</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<h:form id="form-list-autores">
						<h:messages />
						<div class="modal-body bg-light">
							<div class="row">
								<div class="form-group col-md-10">
									<label for="titulo">Parte do nome</label>										
									<h:inputText styleClass="form-control" 										
										value="#{livroBean.autorNomeFiltro}">
									</h:inputText>
								</div>
								<div class="form-group col-md-2">
									<h:commandLink styleClass="btn btn-primary"
										style="margin-top:32px">
										<i class="fa fa-search" aria-hidden="true" /> Pesquisar
                                        <f:ajax event="click" execute="@form"
											render="@form"
											listener="#{livroBean.findAutoresByName}" />
									</h:commandLink>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable id="tblAutoresList"
											styleClass="table table-striped table-sm"
											value="#{livroBean.autoresList}" var="a">
											<h:column>
												<f:facet name="header">Nome</f:facet>
												<h:outputText value="#{a.nome}" />
											</h:column>
											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true"></i>
												</f:facet>
												<h:commandLink action="#{livroBean.addAutor(a)}"
													style="text-decoration:none;" pt:data-dismiss="modal">
													<i class="fa fa-plus-circle" aria-hidden="true" />
													<f:ajax render="form-cadastro-livro:tblAutoresSelecionados" onevent="dataTableAutorSelectedFromJSF"/>
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>

						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- Fecha Modal listagem de autores-->

	</ui:define>
</ui:composition>
