<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >

<h:head>

	<f:facet name="first">
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<h:outputScript target="body" name="js/jquery-1.12.0.min.js" />
		<h:outputScript target="body" name="js/bootstrap.bundle.min.js" />
		<h:outputScript target="body" name="js/loadingoverlay.min.js" />
		<h:outputScript target="body" name="js/index.js" />

		<h:outputStylesheet name="css/bootstrap.min.css" />
		<h:outputStylesheet name="css/font-awesome.css" />
		<h:outputStylesheet name="css/index.css" />
	</f:facet>
</h:head>
<h:body>
	<div class="container">
		<h:form styleClass="form-signin">
			<h:graphicImage library="images" name="avatar_2x.png" styleClass="profile-img-card" />
			<br />
			<input type="text" id="j_username" name="j_username" class="form-control" required="required" placeholder="login" />
			<input type="password" id="j_password" name="j_password" class="form-control" required="required" placeholder="senha" autocomplete="new-password" />
			<h:panelGroup rendered="#{param.error}">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
				  <strong>Falha ao logar!</strong> Verifique suas credenciais de acesso.
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&#215;</span>
				  </button>
				</div>
			</h:panelGroup>
			<div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input " name="_spring_security_remember_me" id="_spring_security_remember_me" />
              <label class="custom-control-label" for="_spring_security_remember_me">Lembrar</label>
            </div>
            <h:commandButton styleClass="btn btn-lg btn-primary btn-block btn-login" value="Login"/>
		</h:form>
	</div>
	<!-- /container -->
	<div class="footer text-center">© 2021, Centro Cultural Mar Alto</div>
	<div class="footer text-center">Versão - 1.0</div>
</h:body>

</html>