<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/templates/default/main.xhtml">
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin-top: 20px">
					<div class="card-header ">
						<h4 class="card-title">Administração</h4>
						<h6 class="card-subtitle mb-2 text-muted">Pessoas</h6>
					</div>
					<h:form id="form-pessoas">
						<div class="card-body bg-light">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable binding="#{table}"
											value="#{pessoaBean.pessoasList}" var="p"
											styleClass="table dataTable-pessoa table-striped table-sm">
											<h:column>
												<f:facet name="header">#</f:facet>
                                       		 	#{table.rowIndex + 1}
                                    		</h:column>

											<h:column>
												<f:facet name="header">Nome</f:facet>
                                       			 #{p.nome}
                                    		</h:column>

											<h:column>
												<f:facet name="header">CPF</f:facet>
												<h:outputLabel style="cpf" value="#{p.cpf}" />
		                                    </h:column>

											<h:column>
												<f:facet name="header">Data de Nascimento</f:facet>
												<h:outputLabel value=" #{p.dataNascimentoFormatado}">
												</h:outputLabel>
		
											</h:column>

											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true"></i>
												</f:facet>
												<h:commandLink action="#{pessoaBean.prepareUpdate(p)}"
													style="text-decoration:none;" pt:data-toggle="modal"
													pt:data-target=".modal-cadastro" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<i class="fa fa-pencil fa-fw" aria-hidden="true" />
													<f:ajax render="form-cadastro-pessoa" />
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="btn-group" role="group">
								<h:commandLink styleClass="btn btn-success"
									pt:data-toggle="modal" pt:data-target=".modal-cadastro"
									pt:data-backdrop="static" pt:data-keyboard="false">
									<i class="fa fa-clone fa-fw" aria-hidden="true" /> Adicionar
                                        <f:ajax
										render="form-cadastro-pessoa"
										listener="#{pessoaBean.prepareSave}" />
								</h:commandLink>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<!-- 		Modal Cadastrar pessoas-->
		<div class="modal modal-cadastro modal-draggable fade" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				<h:form id="form-cadastro-pessoa">
					<h:messages />
					<div class="modal-header">
						<h:outputLabel rendered="#{pessoaBean.pessoa.id eq null}" styleClass="modal-title"
							value="Cadastro de Pessoas" />
						<h:outputLabel rendered="#{pessoaBean.pessoa.id ne null}" styleClass="modal-title" 
							value="Editar Dados" />

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					
						<div class="modal-body bg-light">
							<div class="form-group row">
								<div class="col-md-12">
									<label for="nome">Nome</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo nome é Obrigatorio"
										value="#{pessoaBean.pessoa.nome}">
									</h:inputText>

								</div>
								<div class="col-md-5">
									<label for="cpf">CPF</label>
									<h:inputText styleClass="form-control cpf" required="true"
										requiredMessage="Campo CPF é Obrigatorio"
										value="#{pessoaBean.pessoa.cpf}">
									</h:inputText>
								</div>
								<div class="col-md-7">
									<label for="email">Email</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo Email é Obrigatorio"
										value="#{pessoaBean.pessoa.email}">
									</h:inputText>
								</div>
								<div class="col-md-4">
									<label>Data da Nascimento</label>
									<h:inputText pt:type="date" styleClass="form-control"
										value="#{pessoaBean.dataNascimento}" />
								</div>
								<div class="col-md-4">
									<label for="contato1">Contato 1</label>
									<h:inputText styleClass="form-control phone" required="true"
										requiredMessage="Campo Contato  é Obrigatorio"
										value="#{pessoaBean.pessoa.contato1}">
									</h:inputText>
								</div>

								<div class="col-md-4">
									<label for="contato2">Contato 2</label>
									<h:inputText styleClass="form-control phone"
										value="#{pessoaBean.pessoa.contato2}">
									</h:inputText>
								</div>

							</div>

							<hr />

							<div class="form-group row" id="divEndereco">
								<div class="col-md-12 mb-2">
									<label>ENDEREÇO</label>
								</div>
								<div class="col-md-3">
									<label>CEP</label>
									<h:inputText id="inptCep" styleClass="form-control cep"
										required="true" requiredMessage="Campo Email é Obrigatorio"
										value="#{pessoaBean.cepDigitado}">
										<f:ajax event="change" execute="@this"
											render="inptLogradouro inptBairro inptCidade inptUf"
											listener="#{pessoaBean.buscaCep}" />
									</h:inputText>
								</div>
								<div class="col-md-9">
									<label>Logradouro</label>
									<h:inputText disabled="true" id="inptLogradouro"
										styleClass="form-control"
										value="#{pessoaBean.pessoa.logradouro}">
									</h:inputText>
								</div>
								<div class="col-md-2">
									<label>Numero</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo Email é Obrigatorio"
										value="#{pessoaBean.pessoa.numero}">
									</h:inputText>
								</div>
								<div class="col-md-4">
									<label>Complemento</label>
									<h:inputText styleClass="form-control"
										value="#{pessoaBean.pessoa.complemento}">
									</h:inputText>
								</div>

								<div class="col-md-6">
									<label>Bairro</label>
									<h:inputText id="inptBairro" disabled="true"
										styleClass="form-control"
										value="#{pessoaBean.pessoa.bairro}">
									</h:inputText>
								</div>

								<div class="col-md-6">
									<label>Cidade</label>
									<h:inputText id="inptCidade" disabled="true"
										styleClass="form-control"
										value="#{pessoaBean.pessoa.cidade}">
									</h:inputText>
								</div>

								<div class="col-md-2">
									<label>Estado(UF)</label>
									<h:inputText id="inptUf" disabled="true"
										styleClass="form-control"
										value="#{pessoaBean.pessoa.uf}">
									</h:inputText>
								</div>
							</div>
						</div>

						<div class="modal-footer">

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-success" pt:data-dismiss="modal">
								<i class="fa fa-save fa-fw" aria-hidden="true" />

								<f:ajax event="click" execute="@form"
									render="@form :form-pessoas" listener="#{pessoaBean.save}"
									onevent="dataTablePessoaFromJSF" /> Salvar

                            </h:commandLink>

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>

						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- Fecha Modal adicionar-->

	</ui:define>
</ui:composition>
