<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/templates/default/main.xhtml">
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin-top: 20px;">
					<div class="card-header ">
						<h4 class="card-title">Administração</h4>
						<h6 class="card-subtitle mb-2 text-muted">Perfis de Usuários</h6>
					</div>
					<h:form id="form-usuarios">
						<div class="card-body bg-light">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<h:dataTable binding="#{table}" id="dataTable-usuario"
											value="#{usuarioBean.usuariosList}" var="u"
											styleClass="table dataTable-usuario table-striped table-sm">
											<h:column>
												<f:facet name="header">#</f:facet>
                                        		#{table.rowIndex + 1}
                                   			 </h:column>
											<h:column>
												<f:facet name="header">Nome</f:facet>
		                                        #{u.nome}
		                                    </h:column>
											<h:column>
												<f:facet name="header">Status</f:facet>
		                                        #{u.login}
		                                    </h:column>
											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">Login</f:facet>
												<h:outputText rendered="#{u.ativo == 'true'}"
													styleClass="fa fa-check-circle text-success" />
												<h:outputText rendered="#{u.ativo != 'true'}"
													styleClass="fa fa-remove text-danger" />
											</h:column>
											<h:column pt:style="text-align:center;padding:5px 0;">
												<f:facet name="header">
													<i class="fa fa-cog" aria-hidden="true"></i>
												</f:facet>
												<h:commandLink action="#{usuarioBean.prepareUpdate(u)}"
													style="text-decoration:none;" pt:data-toggle="modal"
													pt:data-target=".modal-cadastro" pt:data-backdrop="static"
													pt:data-keyboard="false">
													<i class="fa fa-pencil fa-fw" aria-hidden="true" />
													<f:ajax render="form-cadastro-usuario" />
												</h:commandLink>
											</h:column>
										</h:dataTable>
									</div>
								</div>
							</div>
							<h:panelGroup>
								<hr class="mb-3" />
								<div class="btn-group" role="group">

									<h:commandLink styleClass="btn btn-success"
										pt:data-toggle="modal" pt:data-target=".modal-cadastro"
										pt:data-backdrop="static" pt:data-keyboard="false">
										<i class="fa fa-clone fa-fw" aria-hidden="true" /> Adicionar
                                        <f:ajax
											render="form-cadastro-usuario"
											listener="#{usuarioBean.prepareSave}" />
									</h:commandLink>

								</div>
							</h:panelGroup>

						</div>
					</h:form>
				</div>
			</div>
		</div>

		<!-- 		Modal Adicionar -->
		<div class="modal modal-cadastro modal-draggable fade" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<h:form id="form-cadastro-usuario">
						<h:messages />
						<div class="modal-header">
							<h:outputLabel rendered="#{usuarioBean.usuario.id eq null}"
								styleClass="modal-title" value="Cadastro de Usuarios" />
							<h:outputLabel rendered="#{usuarioBean.usuario.id ne null}"
								styleClass="modal-title" value="Editar Dados de Usuários" />
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&#215;</span>
							</button>
						</div>

						<div class="modal-body bg-light">
							<div class="form-group row">
								<div class="col-md-8">
									<label for="nome">Nome</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo nome é Obrigatorio"
										value="#{usuarioBean.usuario.nome}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-8">
									<label for="login">Login</label>
									<h:inputText styleClass="form-control" required="true"
										requiredMessage="Campo login é Obrigatorio"
										value="#{usuarioBean.usuario.login}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<label for="status">Ativo</label>
									<h:selectOneMenu value="#{usuarioBean.usuario.ativo}"
										styleClass="form-control custom-select">
										<f:selectItem itemValue="true" itemLabel="Sim" />
										<f:selectItem itemValue="false" itemLabel="Não" />
									</h:selectOneMenu>
								</div>
								<div class="col-md-6">
									<label for="status">Perfil</label>
									<h:selectOneMenu converter="generic"
										value="#{usuarioBean.autorizacaoSelected}"
										styleClass="form-control custom-select">
										<f:selectItem itemValue="" itemLabel="Selecione..." />
										<f:selectItems value="#{usuarioBean.autorizacaoList}" var="a"
											itemValue="#{a}" itemLabel="#{a.descricao}" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="form-check row">
								<div class="col-md-8">
									<h:selectBooleanCheckbox
										rendered="#{not empty usuarioBean.usuario.id}"
										value="#{usuarioBean.desejaResetarSenha}"
										styleClass="form-check-input">
										<f:ajax event="change" execute="@this" render="@form" />
									</h:selectBooleanCheckbox>
									<h:outputLabel rendered="#{not empty usuarioBean.usuario.id}"
										styleClass="form-check-label"
										value="Deseja resetar sua Senha?" />
								</div>
							</div>
							<div class="form-group row mt-3">
								<div class="col-md-6">
									<h:outputLabel rendered="#{usuarioBean.desejaResetarSenha}"
										styleClass="form-check-label" value="Senha" />
									<h:inputSecret rendered="#{usuarioBean.desejaResetarSenha}"
										id="inptSenha" styleClass="form-control"
										value="#{usuarioBean.usuario.senha}">
									</h:inputSecret>
								</div>
								<div class="col-md-6">
									<h:outputLabel rendered="#{usuarioBean.desejaResetarSenha}"
										styleClass="form-check-label" value="Confirmação da Senha" />
									<h:inputSecret rendered="#{usuarioBean.desejaResetarSenha}"
										id="inptConfirmaSenha" styleClass="form-control"
										value="#{usuarioBean.confirmaSenha}">
									</h:inputSecret>
								</div>
							</div>

						</div>

						<div class="modal-footer">

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-success">
								<i class="fa fa-save fa-fw" aria-hidden="true" />

								<f:ajax event="click" execute="@form"
									render="@form :form-usuarios" listener="#{usuarioBean.save}"
									onevent="dataTableUsuarioFromJSF" /> Salvar

                            </h:commandLink>

							<h:commandLink style="margin-right:5px"
								styleClass="btn btn-danger" pt:data-dismiss="modal">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true" /> Fechar
                                <f:ajax />
							</h:commandLink>

						</div>
					</h:form>

				</div>
			</div>
		</div>
		<!-- Fecha Modal adicionar-->

	</ui:define>
</ui:composition>
